config owsd 'global'
	option sock '/var/run/ubus.sock'
	option www '/www'

config owsd-listen 'lan'
	option port '8880'
	option interface 'lan'
	option ipv6 'on'
#	option ipv6only 'off'
	option whitelist_interface_as_origin '1'

#config owsd-listen 'lan-https'
#	option port '4443'
#	option interface 'br-lan'
#	option whitelist_interface_as_origin '1'
#	option cert ''
#	option key ''
